<!DOCTYPE html>
<html>
    <head>
        <title>Application de commentaires</title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        <style>
            .main.container{
                margin-top: 7em;
            }
        </style>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <a title="Accueil" class="header item" href="/">Accueil</a>
        </div>
        <div class="ui main container">
            <% if (locals.flash && locals.flash.error) { %>
            <div class="ui negative message">
                <%= flash.error %>
            </div>
            <% } %>
            <% if (locals.flash && locals.flash.success) { %>
                <div class="ui positive message">
                    <%= flash.success %>
                </div>
                <% } %>
        <div class="ui comments">
            <h3 class="ui dividing header">Commentaires</h3>
                <div class="comment">
                    <a class="avatar" href="/message/<%= message.id%>">
                        <img src="https://randomuser.me/api/portraits/lego/7.jpg">
                    </a>
                    <div class="content">
                        <div class="metadata">
                            <div class="data">
                                <%= message.created_at.fromNow() %>
                            </div>
                        </div>
                        <div class="test"><%= message.content%></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
